.expenses-filter_control{
    width: 780px;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   background-color: #444343;
   padding: 20px;
   border-radius: 15px;
   font-size: 20px;
   color: white;
}